doctype html
html
    head
        meta(charset="utf-8")
        title 首页
        link(rel="stylesheet" type="text/css" href="../CSS/public.css")
        link(rel="stylesheet" type="text/css" href="../CSS/index.css")
        link(rel="stylesheet" type="text/css" href="../static/style.css")
        script(src="../JS/jquery-3.1.1.min.js")
    body
        header
            div.nav
                div.nav_logo
                    a(href="index.html")
                        img(src="../img/logo.png")
                div.nav_city
                    a(href="javascript:;").nav_city_toggle 我在冰岛
                        i
                    em
                    ul(style="display:none;").nav_city_list
                        li
                            a(href="javascript:;").cur 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                        li
                            a(href="javascript:;") 冰岛
                div.nav_collapse
                    ul.nav_list
                        li
                            a(href="javascript:;") 首页
                        li
                            a(href="javascript:;") 发现
                        li
                            a(href="javascript:;") VIP会员
                    ul.nav_login
                        li
                            a(href="javascript:;") 登录
                        li
                            em
                        li
                            a(href="javascript:;") 注册
        div.main
            section.banner
                ul.slides
                    li.l1
                        a(href="javascript:;" target="_blank")
                    li.l2
                        a(href="javascript:;" target="_blank")
                    li.l3
                        a(href="javascript:;" target="_blank")
                ul.flex_direction
                    li
                        a(href="javascript:;" title="上一张").flex_prev
                    li
                        a(href="javascript:;" title="下一张").flex_next
                ol.slides_btn
                    li
                        a(href="javascript:;" target="_blank").active
                    li
                        a(href="javascript:;" target="_blank")
                    li
                        a(href="javascript:;" target="_blank")
            div.search_box
                div.search
                    div.search_input
                        input(type="text" id="keyword" placeholder="请输入目的地，主题，关键字" autocomplete="off")
                    div.search_btn
                        a(href="javascript:;").btn_m 搜索
                        a(href="javascript:;").btn_yellow 筛选
                    div.ico_box
                        a(href="javascript:;" target="_blank")
                            img(src="../img/rBWARFf-_CKAENUpAAAG-2n2-84676_C_40_40.png")
                            span 温泉
                        a(href="javascript:;" target="_blank")
                            img(src="../img/rBWARVf-_GuAQ3N-AAAG-SPGB1Q321_C_40_40.png")
                            span 亲子
                        a(href="javascript:;" target="_blank")
                            img(src="../img/rBWARFf-_H6AdLCjAAAFyRG126U526_C_40_40.png")
                            span 景区
                        a(href="javascript:;" target="_blank")
                            img(src="../img/rBWARVf-_LOAHeteAAAG89N_DT4480_C_40_40.png")
                            span 周末
            section.product_box
                h3
                    p 热门产品
                a(href="javascript:;")
                    div.img
                        img(src="../img/rBWARFf58E-AHhTrAABIOlJ7qIc840.png")
                    p 马站新意思
                        span 新姿势新刺激
                a(href="javascript:;")
                    div.img
                        img(src="../img/rBWARVf58SqAccTzAAAwy5fEEwI576.png")
                    p 马站新意思
                        span 新姿势新刺激
                a(href="javascript:;")
                    div.img
                        img(src="../img/rBWARVf58jyAD1fBAABDGPhCOcI873.png")
                    p 马站新意思
                        span 新姿势新刺激
                a(href="javascript:;")
                    div.img
                        img(src="../img/rBWARFf58sCAHvqxAAA9AzlxtHE717.png")
                    p 马站新意思
                        span 新姿势新刺激
                a(href="javascript:;")
                    div.img
                        img(src="../img/rBWARVgW9ISAVRz2AAAnjjzmHqA074.png")
                    p 马站新意思
                        span 新姿势新刺激
                a(href="javascript:;")
                    div.img
                        img(src="../img/rBWARFgW9LaAe23bAABHpF8uoYc297.png")
                    p 马站新意思
                        span 新姿势新刺激
            section.indexPro_list
                h3
                    p Ta们都去哪儿了
                    img(src="../img/index-ico-fly.png")
                div.indexPro_list_left
                    div.item_list
                        div.rows
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img1")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img2")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img3")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img4")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img5")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img6")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                            div.row
                                div.col_left
                                    div.img
                                        a(href="#" target="_blank")
                                            img(data-src="../img/rBWARFXlkeeAA17nAAIWz3Iw8J8467_C_400_250.jpg" name="img7")
                                        span 酒店
                                div.col_center
                                    div.info
                                        b
                                            a(href="#" target="_blank")
                                        div.info_des <【情迷蒙城 醉美加东】加拿大东海岸+大瀑布9日>双语城市蒙特利尔+历史名城魁北克+宁静首都渥太华+人间仙境尼亚加拉大瀑布+多元文化多伦多
                                        div.tag_box
                                            span 快来精品
                                            span 亲子
                                            span 养生健康
                                div.item_list_price
                                    div.price
                                        small ￥
                                        b 988
                                        span 起
                        div.more_box
                            a(href="javascript:void(0)") 浏览更多......
                div.indexPro_list_right
                    div.fixed
                        div.ad_1
                            a(href="#" target="_blank")
                                img(src="../img/600x450.png")
                        div.ad_2
                            a(href="#" target="_blank")
                                img(src="../img/7b7b4a9141eb40fc8dd251e7fa2d808d.jpg")
        footer.footer
            div.foot_tt
                div.container
                    div.foot_tt_left xxx旅游公众服务网&nbsp&nbsp&nbsp
                        a(href="#") www.xxx.com
                    div.foot_tt_right
                        a(href="#") 意见反馈
                        em
                        | 服务热线：
                        span 666-666-666
            div.container
                div.foot_list_group
                    dl.v1
                        dt 关于快来
                        dd
                            a(href="#" target="_blank") 快来简介
                        dd
                            a(href="#" target="_blank") 联系我们
                        dd
                            a(href="#" target="_blank") 帮助中心
                        dd
                            a(href="#" target="_blank") 法律声明
                    dl.v1
                        dt 关于快来
                            dd
                                a(href="#" target="_blank") 快来简介
                            dd
                                a(href="#" target="_blank") 联系我们
                            dd
                                a(href="#" target="_blank") 帮助中心
                            dd
                                a(href="#" target="_blank") 法律声明
                    dl.v2
                        dt VIP渠道
                            dd
                                a(href="#" target="_blank") 快来简介
                                a(href="#" target="_blank") 快来简介
                            dd
                                a(href="#" target="_blank") 联系我们
                                a(href="#" target="_blank") 快来简介
                            dd
                                a(href="#" target="_blank") 帮助中心
                                a(href="#" target="_blank") 快来简介
                            dd
                                a(href="#" target="_blank") 法律声明
                            dd
                                a(href="#" target="_blank") 法律声明
                    ul
                        li 微信公众号
                        li
                            img(src="../img/wx.jpeg")
                    ul.app
                        li 快来旅游APP
                        li
                            img(src="../img/qrc.jpg")
                    div.clear
                div.copyright_box
                    div.fl Copyright@2010-2016,快来旅行网 www.xxxx.com. All rights reserved.
                        br
                        | xxx旅游局 浙ICP备14500045号-3 网站建设、运营与特许经营商 xx旅游信息有限公司
                        br
                        | xxx旅行社有限公司 | 旅行社业务经营许可证号：D-BC55640
            div.friendly_link.container
                dl
                    dt 友情链接
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
                    dd
                        a(href="javascript:;") 旅游大全
        div.to_top
            i.icon-rocket
    script(src="../JS/js压缩/index.js")