doctype html
html
    head
        title 注册
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="../CSS/public.css")
        link(rel="stylesheet" type="text/css" href="../CSS/register.css")
        script(src="../JS/jquery-3.1.1.min.js")
    body
        header
            div.head
                div.login_left
                    div.logo
                        a(href="#")
                            img(src="../img/logo2.png")
                    div.logo_r
                        span 欢迎注册
                div.login_right
                    div.login_right_text 已有悠哉账号？
                        a(href="#") 登录
        div.main
            h3 手机注册
            div#form
                div.form_phone
                    div.label
                        span *
                        | 手机号码
                    div.public
                        input(type="text" name="phone" placeholder="请输入手机号码")
                        i(style="display:none") *请输入正确的手机号码
                div.form_verification
                    div.label
                        span *
                        | 手机号码
                    div.public
                        input(type="text" name="phone" placeholder="请输入手机号码")
                        i(style="display:none") *请输入正确的手机号码
                div.form_activeCode
                    div.label
                        span *
                        | 手机号码
                    div.public
                        input(type="text" name="phone" placeholder="请输入手机号码")
                        i(style="display:none") *请输入正确的手机号码
                div.form_pwd
                    div.label
                        span *
                        | 手机号码
                    div.public
                        input(type="text" name="phone" placeholder="请输入手机号码")
                        i(style="display:none") *请输入正确的手机号码
                div.form_pwdConfirm
                    div.label
                        span *
                        | 手机号码
                    div.public
                        input(type="text" name="phone" placeholder="请输入手机号码")
                        i(style="display:none") *请输入正确的手机号码
                div.form_submit
        footer
            div.footer




















    //script(src="../JS/js压缩/register.js")

