/*.a{
	width: 800px;
	height: 500px;
	background-color: red;
	margin:0 auto;
	background-image: url(/Users/lanou/Desktop/图片/hyrz2.jpg);
	background-repeat: no-repeat;
	background-size: contain;

}
.b{
	width: 200px;
	height: 500px;
	margin:0 auto;
	background-color: red;
	opacity: .5;
}
.c{
	color: green;
	font-size: 100px;
	text-align: center;
	line-height: 400px;
	margin-top: -500px;
	position: relative;
}*/
.qwe{
	width: 50%;
	height: 400px;
	background-color: red;
	margin: 0 auto;
	background-image: url(/Users/lanou/Desktop/图片/hyrz2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}